.additional_activity_beecrowd {
    width: 70%;
    background-color: #eee;
    border-radius: 20%;
    box-sizing: content-box;
}

@media screen and (min-width: 576px) {
    .additional_activity_beecrowd {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .additional_activity_beecrowd {
        width: 20%;
    }
}