#home_section {
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 760px) {
    #home_section {
        flex-direction: row;
        justify-content: space-between;
        height: 60vh;
    }
}

@media screen and (min-width: 992px) {
    .home_image {
        margin-left: 15em;
    }
    #home_section {
        height: 90vh;
    }
}